*, ::before, ::after{
   box-sizing:border-box ; 
   margin: 0;
   padding: 0;
}



.fotogrid{
    height: 50px;
}





























/* body{
    background:gray;
    height: 100vh;
}


.grid{

    display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;
 display: flex;
    flex-wrap: wrap; 
    width:80%;
    max-width: 900px;
    margin: 70px auto 0;
    /* background: crimson; */
    /* justify-content: center; 
}

div >.item{
    width: 300px;
    height: 250px;
     padding: 5px;
    border-radius: 5%;
     overflow: hidden 
     
    
}


    

   .item img{
       
       width:100%;
       height: auto;
       border-radius: 5px;

   } */ */
